.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: auto;
  background-color: #222;
  width: 390px;
  height: 80vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  row-gap: 32px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}